.contexts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    %context-label {
        opacity: 0.8;
        font-size: 0.9em;
        color: var(--eca-input-fg);
        border-radius: 0.3em;
        background: none;
        border: 1px solid var(--eca-base-border);
        transition: opacity 0.1s, background-color 0.1s;
        padding: 0.2em;
        margin: 0.2em 0.2em;
        cursor: pointer;

        &:hover {
            opacity: 1;
            background-color: var(--eca-base-hover);
        }
    }

    .add {
        @extend %context-label;
    }

    #add-context {
        background-color: var(--eca-input-bg);
        height: 30vh;
        max-width: 80vw;
        overflow: auto;
        padding: 0.6em 0.4em;

        input {
            background-color: var(--eca-input-bg);
            outline: none;
            border: none;
            color: var(--eca-input-fg);
            margin-bottom: 0.5em;
        }

        .loading {
            text-align: center;
        }

        .context-item {
            padding: 0.2em 0.5em;

            &:hover {
                background-color: var(--eca-base-hover);
                cursor: pointer;
            }

            .label {
                color: var(--eca-input-fg);
            }
            .description {
                margin-left: 0.8em;
                font-size: 0.8em;
                opacity: 0.5;
            }
        }
    }
    .context-icon {
        font-size: 1em !important;
        vertical-align: middle;
        margin: 0 0.2em;

        &.file { color: var(--eca-context-file-fg); }
        &.directory { color: var(--eca-context-directory-fg); }
        &.web { color: var(--eca-context-web-fg); }
        &.repoMap { color: var(--eca-context-repo-map-fg); }
        &.cursor { color: var(--eca-context-cursor-fg); }
        &.mcpResource { color: var(--eca-context-mcp-resource-fg); }
    }

    .added-context {
        @extend %context-label;

        &:hover {
            .context-icon {
                &:before {
                    font-family: var(--eca-icon-font-family);
                    color: var(--eca-input-fg);
                    content: "\ea76";
                }
            }
        }
    }
}
