.collapsable {
    border: 0.1em solid var(--eca-base-border);
    border-radius: 0.4em;

    .header {
        padding: 0.5em 0.8em;
        opacity: 0.8;
        transition: opacity 100ms;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        .chrevron {
            margin-right: 0.5em;
            vertical-align: middle;
            display: inline-block;
        }

        .header-content {
            display: contents;
        }
    }

    .content {
        padding: 0 0.8em;
    }
}
