.commands-container {
    padding: 0 !important;
    background-color: var(--vscode-panel-background, #252526);
    max-width: 90vw;

    .commands {
        .item {
            padding: 0.3em 0.6em;
            overflow: auto;
            opacity: 0.6;
            cursor: pointer;

            &.selected {
                opacity: 1;
    background-color: var(--vscode-input-background, #3c3c3c);
            }

            .icon {
                font-size: 1em !important;
                vertical-align: middle;
                margin: 0 0.2em;
            }

            .label {
                color: var(--vscode-input-foreground, #cccccc);
            }

            .args {
                margin-left: 0.5em;
                color: var(--vscode-input-foreground, #cccccc);
            }

            .description {
                display: block;
                margin-left: 0.5em;
                font-size: 0.8em;
                opacity: 0.5;
            }
        }
    }
}
