.prompt-area {
    display: flex;
    padding: 0.6em;
    flex-wrap: wrap;
    gap: 0.4em;
    border-top: 1px solid var(--eca-panel-border);
    background-color: var(--eca-input-bg);

    .field {
        width: 100%;
        background-color: var(--eca-input-bg);
        margin: 0.3em 0;
        border: none;
        color: var(--eca-input-fg);
        font-family: inherit;
        overflow: hidden;
        resize: none;
        field-sizing: content;

        &:focus {
            outline: none;
            border: none;
        }

        &::placeholder {
            color: var(--eca-input-placeholder-fg);
        }
    }

    .spacing {
        margin-left: auto;
    }

    .send {
        i {
            cursor:pointer;
            padding: 0.3em;
            margin: 0 0.1em;
            border-radius: 0.3em;

            &:hover {
                background-color: var(--eca-highlight-bg);
            }
        }
    }
}
