.chat-header {

    .chats {
        display: flex;
        background-color: var(--eca-panel-bg);
        width: 100%;

        .chat {
            display: flex;
            font-size: 0.9em;
            background-color: var(--eca-editor-bg);
            padding: 0.5em 0;
            padding-left: 0.8em;
            cursor: pointer;
            align-items: center;
            border-top: 1px solid var(--eca-input-bg);
            border-right: 1px solid var(--eca-input-bg);
            transition: background-color 0.1s;

            &.selected {
                border-top: 1px solid var(--eca-link-fg);
                background-color: var(--eca-editor-bg) !important;
            }

            &.empty {
                padding-right: 0.8em;
            }

            &:hover {
                background-color: var(--eca-input-bg);
            }

            .close {
                margin: 0 0.2em;
                border-radius: 0.4em;
                margin-left: 0.5em;
                padding: 0.1em;
                z-index: 2;

                &:hover {
                    background-color: var(--eca-panel-bg);
                }
            }
        }

        .new-chat {
            padding: 0.6em 0.8em;
            cursor: pointer;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}
