.diff {
    margin: 0.5em 0;
}

.diff-code-normal {
    background-color: var(--eca-diff-unchanged-bg) !important;
}

.diff-code-insert {
    background-color: var(--eca-diff-insert-bg) !important;
}

.diff-code-delete {
    background-color: var(--eca-diff-delete-bg) !important;
}
