$size: 2em;
$buttonSize: calc($size / 3);

.toggle {
  position: relative;
  display: inline-block;
  width: $size;
  height: calc($size / 2);

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--eca-toggle-slider-bg);
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: $buttonSize;
      width: $buttonSize;
      left: 0.3em;
      bottom: 15%;
      background-color: var(--eca-toggle-icon-bg);
      transition: .4s;
    }
  }
}

input:checked + .slider {
  background-color: var(--eca-toggle-bg);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--eca-toggle-bg);
}

input:checked + .slider:before {
  transform: translateX($buttonSize * 1.2);
}

/* Rounded sliders */
.slider.round {
  border-radius: $buttonSize;
}

.slider.round:before {
  border-radius: 50%;
}
