.eca-tooltip {
    background-color: var(--eca-tooltip-bg);
    outline: 0.5px solid var(--eca-panel-border);
    color: var(--eca-tooltip-fg);
    padding: 4px 8px;
    z-index: 1000;
    margin-top: 0.5em;
    max-width: 80vw;
    white-space: pre-line;
}
