@import 'styles/codicon.css';
@import './styles/theme.css';

html,
body,
#root {
  height: 100%;
  line-height: 1.3;
  background-color: var(--eca-editor-bg);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  padding: 0;
  color: var(--eca-editor-fg);
  padding: 0px;
  margin: 0px;
  height: 100%;
  border-right: 1px solid var(--eca-panel-bg);
  border-left: 1px solid var(--eca-panel-bg);
}

*:focus {
  outline: none;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: var(--eca-input-bg) var(--eca-editor-bg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--eca-editor-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--eca-input-bg);
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a {
  color: white;
}
