:root {
  --example-var: rgb(30, 30, 30);
}

html,
body,
#root {
  height: 100%;
  line-height: 1.3;
  background-color: var(--vscode-editor-background);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  padding: 0;
  color: var(--vscode-editor-foreground);
  padding: 0px;
  margin: 0px;
  height: 100%;
}

*:focus {
  outline: none;
}

.scrollable {
  scrollbar-width: thin;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
